h1{
   text-align: center;
}

.container{
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
}
p{
   text-align: center;
   font-size: 2em;
}

.vignettes{
flex:1 0 20%;
min-width: 170px;
margin: 10px;
padding: 10px;
height: 100px;
font-size: 1.5em;
font-family: 'Nunito', sans-serif;
border-radius: 20px;
display: flex;
justify-content: center;
transition: all 1s;
}
.vignettes:hover{
   box-shadow: 7px 7px 5px 2px rgba(0, 0, 255, .2);
   transition: transform 0.7s;
   transform: scale(1.2);
}


a{
   text-decoration-line: none;
   color: black;
}

i{
   margin: auto;
   margin-right: 10px;
   color: white;
}

.male{
   background-color: #48dbfb;
}
.female{
   background-color: #ff9ff3;
}

.boutton{
   margin-bottom: 30px;
   display: flex;
   justify-content: center;
}

.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:10px;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
   text-decoration:none;
   margin: 10px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
